.main {
    margin-top: 5em;
}

.info {
    background-color: #eee;
    padding-top: 1em;
}

.navbar-grey {
    background-color: #eee;
}

.content {
    margin-left: 10em;
    margin-right: 10em;
}

.dropdown-item {
    cursor: pointer;
}

